body {
    background: aliceblue;
}

.g__bgr-white {
    background: white;
}

div {
    border: blue 1px solid !important;  ;
}

@media (min-width: 992px) {
    .col-lg-3 {
        background: brown;
    }
}